<div class="span12">
  <div class="well well-small ">

<div class="table-responsive">

  <p id="notice"><%= notice %></p>

  <h4>Listing Orders</h4>


  <table id="mytable" class="table table-bordred table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th>View Order</th>
      <th>Delete</th>

    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to '', order ,class: 'btn btn-primary btn-xs icon-eye-open' %></td>
        <td><%= link_to '', order, class: 'btn btn-danger btn-xs icon-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>

<br>

<%= link_to 'New Order', new_order_path , class: 'shopBtn' %>
</div>
    </div>