
<h4>All Brands</h4>
<div class="table-responsive">


  <table id="mytable" class="table table-bordred table-striped">

    <thead>


    <th>Brand Name</th>
    <th>Brand Description</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>

    <tbody>
    <% @brands.each do |brand| %>
        <tr>
          <td><%= brand.brand_name %></td>
          <td><%= brand.brand_description %></td>
          <td><%= link_to '', edit_brand_path(brand), class: 'btn btn-primary btn-xs icon-edit' %></td>
          <td><%= link_to '', brand_path(brand), class: 'btn btn-danger btn-xs icon-trash', method: :delete,
                          data: { confirm: 'Are you sure you want to delete?' } %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
</div>

<div class="control-group">
  <div class="controls">
    <%= link_to 'Add Brand', new_brand_path , class:"shopBtn exclusive" %>

  </div>
</div>

