<div class="well">

  <%= form_for @brand , html: {class: "form-horizontal"} do |f| %>

      <h3>Add Brand</h3>
      <div class="control-group">
        <%= f.label :brand_name , class: "control-label" %>
        <!--<label class="control-label">Category Name<sup>*</sup></label>-->
        <div class="controls">
          <%= f.text_field :brand_name, placeholder: 'Name'  %>
          <!--<input type="text" placeholder="Name">-->
        </div>
      </div>
      <div class="control-group">
        <%= f.label :brand_description , class: "control-label" %>
        <div class="controls">
          <%= f.text_area :brand_description, placeholder: 'Short Description'  %>
        </div>
      </div>


      <div class="control-group">
        <div class="controls">
          <%= f.submit 'Save Brand', class:'shopBtn exclusive' %>
          <!--<input type="submit" name="submitAccount" value="Add" class="shopBtn exclusive">-->
        </div>
      </div>

  <% end %>
</div>
