
      <h4>All Categories</h4>
      <div class="table-responsive">


        <table id="mytable" class="table table-bordred table-striped">

          <thead>


          <th>Category Name</th>
          <th>Category Description</th>
          <th>Sub Category</th>
          <th>Edit</th>
          <th>Delete</th>
          </thead>

          <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td><%= category.category_name %></td>
            <td><%= category.category_description %></td>
            <td><%= link_to '', subcategory_path(category), class: 'btn btn-primary btn-xs icon-eye-open' %></td>
            <td><%= link_to '', edit_category_path(category), class: 'btn btn-primary btn-xs icon-edit' %></td>
            <td><%= link_to '', category_path(category), class: 'btn btn-danger btn-xs icon-trash', method: :delete,
                            data: { confirm: 'Are you sure you want to delete?' } %></td>
          </tr>
          <% end %>
          </tbody>

        </table>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= link_to 'Add Category', new_category_path , class:"shopBtn exclusive" %>
          <%= link_to 'Add Sub Category', new_category_path(is_subcategory: true) , class:"shopBtn exclusive" %>
        </div>
      </div>

