<div id="sidebar" class="span3">

  <div class="well well-small">
    <h3>Categories</h3>
    <ul class="nav nav-list">

        <% @categories.each do |category| %>
      <li><span class="icon-chevron-right"><%= link_to category.category_name, category_product_path(category) %></span></li>

      <% end %>

      <li style="border:0"> &nbsp;</li>

      <li>


            <span class="icon-shopping-cart" id="item-change">Total Item : <%= @cart.line_items.count %></span>

            <span class="badge badge-warning pull-right " id="price-change" style="line-height:18px;"><%= number_to_currency(@cart.total_price) %></span>

      </li>



    </ul>




  </div>
  <div>
  <%= link_to "View Cart" , cart_path(@cart.id) , class: ' shopBtn' %></span>
  <%= link_to "Checkout" , new_order_path , class: ' shopBtn' %></span>
  </div>
</div>

<div class="span9">
 <div class="well well-small">
  <h3>Our Products </h3>
  <div>
    <ul class="thumbnails">

      <% @products.each do |product| %>

      <li class="span4">
        <div class="thumbnail">
         <%= link_to '', product_details_path(product) , :class => "overlay" %>

          <%= link_to product_details_path(product), :class => 'zoomTool' do %><span class="icon-search"></span>Quick View<% end %>


          <%= link_to product_details_path(product) do %>
              <%= image_tag product.image , style: "height: 200px; width:250px " %>
          <% end %>

          <div class="caption cntr">
            <p><%= product.product_name %></p>
            <p><strong> $<%= product.price_sell %></strong></p>
            <h4><%= button_to  'Add to Cart', line_items_path(:product_id => product) , class: 'shopBtn', :remote => true %></h4>
            <div class="actionList">
              <a class="pull-left" href="#">Add to Wish List </a>
              <a class="pull-left" href="#"> Add to Compare </a>
            </div>
            <br class="clr">
          </div>
        </div>
      </li>

      <% end %>

    </ul>
  </div>
 </div>
</div>
